table {
    text-align: center;
    border-collapse: collapse;
    border: solid 1px;
    width: auto
}

table td {
    /*table内のtdに対して*/
    padding: 3px 80px;
    /*上下3pxで左右10px*/
    border: dashed 1px;
}

.dice {
    height: 180px;
}

img {
    height: 100%;
    width: auto;
}

#result {
    font-size: 150px;

}